.container {
    display: flex;
    justify-content: space-between;
}
.panel {
    height: 100vh;
    width: 40vw;
    display: flex;
    justify-content: start;
    flex-direction: column;
    padding: 3rem 8rem 3rem 4rem;
    position: sticky;
    top: 0;
    box-shadow: 0px 4px 80px rgba(0, 0, 0, 0.16);
}


.highlights {
    line-height: 32px;
}

.description {
    margin-top: 1rem;
}

.panel-content {

    margin: auto 0 auto 0;
}

.highlights a {
    border-bottom: 1px solid var(--color-primary-light);
    transition-duration: 0.3s;
    transition-timing-function: ease-in-out;
}
.highlights a:hover {
    border-bottom: 1px solid var(--color-primary);
}



.projects {
    width: 60vw;
}

.project {
    padding: 48px 16% 2.5rem 16%;
    /*height: 90vh; */
}

.project-content {
    animation: appear 0.64s ease-in-out;
}

@keyframes appear {
    from {
      transform: translateX(16%);
      opacity: 0%;
    }
    to {
      transform: translateX(0);
      opacity: 100%;
    }
  }

.project p a {
    border-bottom: 1px solid var(--gray-medium);
    transition-duration: 0.3s;
    transition-timing-function: ease-in-out;
}
.project p a:hover {
    border-bottom: 1px solid var(--gray-darkest);
}

.project h3 {
    font-size: 2em;
    font-weight: 700;
    letter-spacing: -1%;
    font-family: 'Gilroy', 'Poppins', sans-serif;
}

.project .body {
    color: var(--gray-darker);
}


.project img {
    height: 480px;
}

.project .tags li {
    display: inline;
    border: none;
    background: var(--gray-lighter);
    padding: 4px;
    margin: 10px 0;
    border-radius: 8px;
}

.project a {
    font-size: 1rem;
    font-weight: 700;
    color: var(--gray-darkest);
}

/* Phones */
@media only screen and (max-width: 768px) {
    .container {
        display: block;
    }
    .panel {
        width: 100vw;
        height: auto;
        position: relative;
        box-shadow: none;
        display: block;

        padding: 3rem 2%;
    }
    .projects {
        display: block;
        width: 100vw;
        position: relative;
    }
    .project {
        padding: 4rem 2%;
    }
    .highlights {
        margin: 4rem 0 0 0;
    }
}
