@import "./reset.css";
@import "./variables.css";
@import "./typography.css";
@import url("https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;700&family=Poppins:wght@700&display=swap");

@font-face {
  font-family: "Gilroy";
  src: url("Gilroy-ExtraBold.otf");
}

.container {
  width: 100%;
  position: relative;
  background: #ffffff;
  font-family: "DM Sans", sans-serif;
  color: var(--gray-darkest);
  font-size: 1em;
  line-height: 150%;
}

.logo {
  background: url("../img/lotsuka_logo.png") no-repeat center center;
  background-size: 207px;
  width: 207px;
  height: 25px;
  text-indent: -9999px;
}

/*header {
    background-color: var(--gray-darkest);
} */

.menu {
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin: auto;
}

a.button {
  background: var(--gray-darkest);
  box-shadow: 4px 8px 16px rgba(0, 0, 0, 0.25);
  /*box-shadow: 8px 10px 20px 0 rgba(46,61,73,.15);*/
  border-radius: 8px;
  color: white;
  font-weight: 700;
  padding: 16px 24px;
  font-size: 16px;
  margin: 24px 0 0 0;
  display: inline-flex;
  align-items: center;
  transition: all 0.2s ease-in-out;
}

a.button:hover {
  box-shadow: 2px 4px 8px 0 rgba(46, 61, 73, 0.2);
}

a.button span {
  margin-right: 1rem;
  display: flex;
}

ul.social {
  display: flex;
  flex-direction: row;
  margin: 1.5rem 0 2rem 0;
}
.social li span {
  border: 1px solid var(--gray-lighter);
  border-radius: 100%;
  width: 48px;
  height: 48px;
  display: inline-block;
  margin-right: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
}
a.social_button {
  border-bottom: 1px solid transparent;
}
a.social_button:hover span {
  background: var(--gray-lighter);
  transition: all 0.4s ease-in-out;
}

a {
  position: relative;
}

a.underline::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 1px;
  bottom: 0;
  left: 0;
  background-color: var(--gray-medium);
  transform: scaleX(1);
  transition: all 0.3s ease-in-out 0s;

}

a.underline:hover::before {
  animation: linkUnderline 0.2s ease-in-out;
  background-color: var(--gray-darkest);
}


@keyframes linkUnderline {
  from {
    /*transform: translateX(16%);*/
    transform: scaleX(0);
  }
  to {
    /*transform: translateX(0); */
    transform: scaleX(1);
  }
}

.hero_image {
  display: flex;
  justify-content: center;
  margin-top: 2rem;
}

footer {
  background-color: var(--gray-darkest);
}

footer .signature {
  padding: 3rem 2rem;
  color: var(--gray-lightest);
}

/* Different projects themes */

.ios {
  background-color: var(--color-project-1);
}

.designsystem {
  background-color: var(--color-project-2);
}

.centauro {
  background-color: var(--color-project-3);
}

.retrolley {
  background-color: var(--color-project-4);
}

.iphone-video {
  position: relative;
  justify-content: center;
}

.iphone-video img {
  position: absolute;
  /* width: 235px; */
}

.iphone-video video {
  margin: 10px auto 0 13px;
  width: 176px;
  
  /* width: 208px; */
}


.project h3 {
  font-size: 2em;
  font-weight: 700;
  letter-spacing: -1%;
  font-family: "Gilroy", "Poppins", sans-serif;
}

.project .body {
  color: var(--gray-darker);
}

.project a {
  font-size: 1rem;
  font-weight: 700;
  color: var(--gray-darkest);
}

.project:hover .hover {
  opacity: 1;
  transform: translateX(100px) scale(1.25);
}

.hover {
  display: flex;
  opacity: 0;
  position: absolute;
  height: 100%;
  width: 100%;
  border-radius: 50% 0 0 50%;
  background: rgba(63, 80, 100, 0.64);
  mix-blend-mode: soft-light;
  top: 0;
  right: -80%;
  justify-content: start;
  align-items: center;
  padding: 0 0 0 4rem;
  transform: translateX(200px), scale(1);
  transition: opacity 0.5s ease-out, transform 0.2s ease-out;
  color: black;
  font-size: 4rem;
  ;
}


footer {
  grid-column: 2 / 3;
  padding: 48px 16% 2.5rem 16%;
  text-align: center;
  font-family: "DM Sans", sans-serif;
}