.subheading {
    line-height: 2rem;
    color: var(--gray-darker);
    font-size: 1rem;
}

strong {
    font-weight: 700;
}

a {
    font-weight: 700;
    line-height: 1.5rem;
    color: var(--color-primary);
    text-decoration: none;
}

/*
a:hover {
    color: var(--color-primary);
    border-bottom: 1px solid var(--gray-darkest);
}
*/

a span {
    border-bottom: none;
}

.display {
    font-size: var(--text-large);
    line-height: 150%;
    font-family: 'Gilroy', 'Poppins', sans-serif;
}

.body {
    font-size: 1.25rem;
    margin-bottom: 0.5rem;
    font-weight: 500;
    line-height: 150%;
}

.caption {
    font-size: 0.9rem;
    color: var(--gray-dark);
    line-height: 150%;
}

h1 {
    font-size: 2.5rem;
    font-weight: 700;
    letter-spacing: -1px;
    margin: 0 0 1rem 0;
    font-family: 'Poppins', sans-serif;
}

h2 {
    font-size: 2em;
    margin: 0 0 1rem 0;
    line-height: 150%;
    font-weight: 700;
}

h3 {
    font-size: 1.5em;
    line-height: 150%;
    font-weight: 700;
}