:root {
    --main-bg-color: #ffffff;
    --base-font-size: 16px;
    
    --base-spacing: 8px;

    --gray-lightest: #FAFBFD;
    --gray-lighter: #DFE5ED;
    --gray-light: #CEDAEB;
    --gray-medium: #96A6BC;    
    --gray-dark: #4C6276;
    --gray-darker: #3F5064;
    --gray-darkest: #192A3E;

    

    --color-primary: #0056B1;
    --color-primary-light:#D6EAFF;



    --text-large: 32px;
    --text-xlarge: 48px;

    --color-project-1: #CEF5E5;
    --color-project-2: #A6E5F5;
    --color-project-3: #F5D3CE;
    --color-project-4: #dedede;

    --page-width: 960px;
  }