/* .logo {
    filter: invert(100%);
    -webkit-filter: invert(100%);
}
*/

.menu {
  padding: 0 1.5rem;
}

.menu h2 {
  margin: 0;
}

h1.article-title  {
  margin: 2rem 0 4rem 0; /* title of project */
}

.article-body p {
  font-size: 1.2rem;
  line-height: 150%;
}
.article-title {
  text-align: center;
  position: relative;
  z-index: 2;
}

header {
  background-color: var(--main-bg-color);
}

.hero-background {
  padding: 4% 0 0 0;
  position: relative;
}

.cover {
  display: flex;
  justify-content: center;
  margin: 4% 0 0 0;
  position: relative;
  z-index: 2;
}

.cover img {
  height: 400px;
}


.summary {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  background-color: var(--gray-lightest);
  border-radius: 1rem;
  margin: 2rem 0 2rem 0;
  padding: 2rem;
}


.summary .topic {
  /*max-width: 220px; */
  margin: 1rem 0.5rem;
  flex: 1 1 13rem;
  color: var(--gray-darker);
}
.summary .topic:last-child {
  margin-right: none;
}

article section.columns {
  display: grid;
  grid-template-columns: minmax(100px, 32%) auto;
  grid-gap: 0 1rem;
  border-bottom: 1px solid var(--gray-lighter);
}

article section .headings {
  /* width: 28%; */
}

article section .description {
  /* width: 72%; */
  font-size: 1.25rem;
  line-height: 150%;
  color: var(--gray-darker);
} 

article section.dark-section {
  display: grid;
  grid-template-columns: 1fr 1fr;
  background: var(--gray-darkest);
}

article section.light-section {
  display: grid;
  grid-template-columns: 1fr 1fr;
  background: var(--gray-lightest);
}

article section.dark-section .one img {
  height: 400px;
}
.hero-background:after {
  content: "";
  position: absolute;
  top: 0;
  height: 64%;
  background-color: var(--color-project-1);
  z-index: 0;
  width: 100vw;
}

.page-width {
  /* max-width: var(--page-width); */
  max-width: 80%;
  margin: 2rem auto;
}

.challenge {
  background: #e6f4f1;
  border-radius: 16px;
  padding: 1rem;
  margin: 2rem 0;
  color: var(--gray-darker);
}

.project-hero-image img {
  width: 100%;
  display: block;
}

.project-hero-image {
  background-color: var(--color-project-1);
}

section.columns ul {
  padding: 1.5rem;
}

section.columns ul li {
  list-style-type: circle;
  padding: 0 0 1rem 0;
}

@media only screen and (max-width: 1023px) {
 article section.columns { 
   display: block;
 }
}
