/* .logo {
    filter: invert(100%);
    -webkit-filter: invert(100%);
}
*/

.menu {
  padding: 0 1.5rem;
  height: 64px !important;
}

.menu h2 {
  margin: 0;
}

h1.article-title {
  margin: 2rem 1rem 4rem 1rem; /* title of project */
  line-height: 100%;
}

.article-body p {
  font-size: 1.2rem;
  line-height: 150%;
}
.article-title {
  text-align: center;
  position: relative;
  z-index: 2;
}

header {
  background-color: var(--main-bg-color);
  position: sticky;
  top: 0;
  z-index: 3;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.project1,
.hero-background.after-project1::after {
  background: var(--color-project-1);
}
.project3,
.hero-background.after-project3::after {
  background: var(--color-project-3);
}

.hero-background {
  padding: 4% 0 0 0;
  position: relative;
}

.cover {
  display: flex;
  justify-content: center;
  margin: 4% 0 0 0;
  position: relative;
  z-index: 2;
}

.cover img {
  height: 400px;
}

.summary {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;

  background-color: var(--gray-lightest);
  border-radius: 1rem;
  margin: 2rem 10% 2rem 10% !important;
  padding: 2rem !important;
}

.summary .topic {
  /*max-width: 220px; */
  margin: 1rem 0.5rem;
  flex: 1 1 13rem;
  color: var(--gray-darker);
}
.summary .topic:last-child {
  margin-right: none;
}

.columns {
  display: grid;
  grid-template-columns: minmax(100px, 32%) auto;
  grid-gap: 0 1rem;
  margin: 2rem auto 0 auto;
}

.light-section.columns,
.project-section.columns {
  margin: 0 auto !important;
  padding: 4rem 10%;
}

.columns ul,
.columns ol {
  padding: 1.5rem;
}

.columns ul li {
  list-style-type: circle;
  padding: 0 0 1rem 1rem;
}

.columns ol li {
  list-style-type: decimal;
  padding: 0 0 1rem 1rem;
}
.columns ol li::marker {
  color: var(--gray-dark);
}

article section .description {
  /* width: 72%; */
  font-size: 1.25rem;
  line-height: 150%;
  color: var(--gray-darker);
}

.description .quote {
  font-weight: 800;
}

article section.dark-section {
  background: var(--gray-darkest);
  padding: 2rem 0;
}

article section.dark-section li {
  color: var(--main-bg-color);
}

article section.light-section {
  background: var(--gray-lightest);
  padding-top: 2rem;
}
article section.project-section,
article section.project2-section {
  padding-top: 2rem;
}

.hr {
  border-bottom: 1px solid var(--gray-lighter);
}

.white {
  color: var(--main-bg-color);
}

.headings img {
  width: 235px;
  margin: 0;
}

.description img {
  max-width: 100%;
  margin: 2rem auto;
  display: block;
}
.page-width-img img {
  display: flex;
}
.page-width-img img {
  max-width: 100%;
  margin: 2rem auto 8rem auto;
}

.hero-background::after {
  content: "";
  position: absolute;
  top: 0;
  height: 64%;
  z-index: 0;
  width: 100vw;
}

.page-width {
  margin: 0 8% 0 8%;
  padding: 5rem 0 3rem 0;
}

h2.page-width {
  padding: 4rem 0 0 0;
}

.challenge {
  /* background: #e6f4f1; */
  border-radius: 16px;
  padding: 1rem;
  margin: 2rem 0;
  color: var(--gray-darker);
  filter: brightness(112%) saturate(56%);
}

.project-hero-image img {
  width: 100%;
  display: block;
}

.iphone-8-frame {
  background-image: url("../img/iphone-black-frame@2x.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 320px;
  width: 320px;
  height: 544px;
  margin: 4rem auto 0;
}
.iphone-8-frame img {
  width: 208px;
  display: block;
  margin: 0 auto;
  padding-top: 56px;
}
.iphone-video.concept {
  display: flex;
  align-items: center;
  justify-content: center;
}
.iphone-video.concept video {
  width: 208px;
  padding: 2.5rem 0;
  margin: 0 auto;
}

.mobile-image-text {
  display: flex;
  justify-content: space-between;
  margin: 0 !important;
  padding: 5rem 10% 3rem 10%;
}
.mobile-image-text div {
  width: 30%;
  margin-bottom: 4rem;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
}
.mobile-image-text div img {
  max-width: 320px;
}

.suggestions {
  margin: 4rem 10% 4rem 10%;
}

.projects-suggestion {
  display: flex;
  justify-content: space-between;
  margin-top: 2rem;
}

.project-suggestion {
  border-radius: 1rem;
  width: 48%;
  padding: 2rem;
  cursor: pointer;
  margin: 2rem 0;
  overflow: hidden;
  position: relative;
}

.hover {
  right: 0px !important;
}
.project:hover .hover {
  transform: translateX(440px) scale(1.25) !important;
}
/* 
.centauro:hover {
  background: linear-gradient(rgba(0, 0, 0, 0.04), rgba(0, 0, 0, 0.04))
    var(--color-project-3);
}

.retrolley:hover {
  background: linear-gradient(rgba(0, 0, 0, 0.04), rgba(0, 0, 0, 0.04))
    var(--color-project-4);
} */

.project-suggestion img {
  width: 100%;
}

.link {
  margin-top: 1rem;
}

@media only screen and (max-width: 1024px) {
  article .columns {
    display: block;
  }
  .mobile-image-text {
    display: block;
  }
  .mobile-image-text div {
    width: 100%;
  }
  .projects-suggestion {
    display: block;
  }
  .project-suggestion {
    width: 100%;
  }
}
@media screen and (max-width: 1200px) {
  .summary {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
}
@media screen and (max-width: 600px) {
  .summary {
    display: block;
  }
}

#progress-bar {
  --scrollAmount: 0%;
  background: var(--gray-darkest);
  width: var(--scrollAmount);
  height: 0.25rem;
  position: fixed;
  top: 4rem;
  left: 0;
}
