/*
STYLE.CSS
*/

html,
body {
  height: 100%;
  font-family: 'Poppins', sans-serif;
  background-color: white;
  color: #555555;
  font-weight: 400;
  margin: auto;
  max-width: 90%;
}

h1 {
  font-weight: 100;
  font-size: 16px;
  margin: 16px 0 0 16px;
  text-align: center;
}

h2 {
  font-weight: 300;
  font-size: 18px;
  text-align: center;
  line-height: 140%;
  color: #222;
}

h3, p {
  margin-left: 16px;
  margin-right: 16px;
}

a {
  color: #222;
  text-decoration: none;
}



#hero {
  padding: 16px;
  min-height: 160px;
}

.lead {
  text-align: center;
  width: 70%;
    margin: auto;

}

.contact{
  display: flex;
  justify-content: space-evenly;

}
.project {
  
}

}
.project img {
}

ul { display: block; }

li { list-style-type: none;}
  @media (max-width: 575px) {
    body {
      background-color: white;
    }
  }
/*sm*/
  @media (min-width: 576px) and (max-width: 767px) {
    body {
      background-color: white;
    }
  }
/*md*/
  @media (min-width: 768px) and (max-width: 991px) {
    body {
      background-color: white;
    }
  }
/*lg*/
  @media (min-width: 992px) and (max-width: 1199px) {
    body {
      background-color: white;
    }
  }
/*xl*/
  @media (min-width: 1200px) {
    body {
      background-color: white;
    }
  }


img {
    max-width: 100%;
}

/* cover */

#cover {
    background: #222 url('img/stars.jpg') center center no-repeat;
    background-size: cover;
    color: white;
    height: 100%;
    text-align: center;
    display: flex;
    align-items: center;
}

#cover-caption {
    width: 100%;
}

.section-content {
    padding: 5rem 0;
}

#about {
    background: url('img/girlincar.jpg') center center no-repeat;
    background-size: cover;
}

.about-text {
    background: rgba(0,0,0,0.8);
    color: white;
    padding: 1.875rem;
}

.project-title {
  text-align: center;


}
#footer-main {
    background: #222;
    color: white;
    font-size: 0.8rem;
    padding: 2.5rem 0;
}
