/*
STYLE.CSS
*/

html,
body {
  height: 100%;
  font-family: 'Poppins', sans-serif;
  background-color: white;
  color: #555555;
  font-weight: 400;
  margin: auto;
  max-width: 90%;
  line-height: 120%;
  font-size: var(--base-font-size);
}

h1 {
  font-weight: 100;
  font-size: 1.4em;
  margin: 16px 0 0 16px;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 0.1em;
}

h2 {
  font-weight: 800;
  font-size: 3em;
  text-align: center;
  line-height: 140%;
  color: #222;
}

@media only screen and (max-width: 480px) {
  hero{
    padding: 0;  
  }
  h2 {
    font-size: 1.6em;
  }
}


h3, p {
  margin-left: 16px;
  margin-right: 16px;
}

a {
  color:#555;
  text-decoration: none;
}

.button{
  border-radius: 2rem;
  background-color: #ddd;
  padding: 0.8rem 2rem;
  color: #000;
  margin: 2rem 1rem;
}
.button:hover {
  background-color: #aaa;


}


#hero {
  padding: 4em 16em;
  min-height: 160px;
}

.lead {
  text-align: center;
  width: 70%;
  margin: auto;

}

.contact{
  display: flex;
  justify-content: space-evenly;
  margin: 4rem 1rem;
  color: darkslategray;
}
.project {
  margin-bottom: 48px;

}


ul { display: block; }

li { list-style-type: none;}
  @media (max-width: 575px) {
    body {
      background-color: white;
    }
  }
/*sm*/
  @media (min-width: 576px) and (max-width: 767px) {
    body {
      background-color: white;
    }
  }
/*md*/
  @media (min-width: 768px) and (max-width: 991px) {
    body {
      background-color: white;
    }
  }
/*lg*/
  @media (min-width: 992px) and (max-width: 1199px) {
    body {
      background-color: white;
    }
  }
/*xl*/
  @media (min-width: 1200px) {
    body {
      background-color: white;
    }
  }


img {
    max-width: 100%;
}

/* cover */

#cover {
    background: #222 url('img/stars.jpg') center center no-repeat;
    background-size: cover;
    color: white;
    height: 100%;
    text-align: center;
    display: flex;
    align-items: center;
}

#cover-caption {
    width: 100%;
}

.section-content {
    padding: 5rem 0;
}

#about {
    background: url('img/girlincar.jpg') center center no-repeat;
    background-size: cover;
}

.about-text {
    background: rgba(0,0,0,0.8);
    color: white;
    padding: 1.875rem;
}

.project-title {
  text-align: center;


}
#footer-main {
    background: #222;
    color: white;
    font-size: 0.8rem;
    padding: 2.5rem 0;
}
