.container {
    display: flex;
    justify-content: space-between;
}
.panel {
    height: 100vh;
    width: 40vw;
    display: flex;
    justify-content: start;
    flex-direction: column;
    padding: 48px 8%;
    position: sticky;
    top: 0;
    box-shadow: 0px 4px 80px rgba(0, 0, 0, 0.16);
}

.projects {
    width: 60vw;
}

.project {
    padding: 48px 16%;
}

.project h3 {
    font-size: 2em;
    font-weight: 700;
    letter-spacing: -1%;
    font-family: 'Poppins', sans-serif;
}

.project img {
    height: 480px;
}

.project .tags li {
    display: inline;
    border: none;
    background: var(--gray-lighter);
    padding: 4px;
    margin: 10px 0;
    border-radius: 8px;
}

.project a {
    font-size: 1rem;
    font-weight: 700;
    color: var(--gray-dark);

}

.highlights {
    line-height: 32px;
    margin: 64% 0 0 0;
}