@import "./reset.css";
@import "./variables.css";
@import "./home.css";
@import "./typography.css";
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;700&family=Poppins:wght@700&display=swap');

.container {
    width: 100%;
    position: relative;
    background: #ffffff;
    font-family: 'DM Sans', sans-serif;
    color: #000;
    display: flex;
    justify-content: space-between;
    font-size: 1em;
    line-height: 150%;
}

h1 {
    background: url("../img/lotsuka_logo.png") no-repeat center center;
    background-size: 207px;
    width: 207px;
    height: 25px;
    text-indent: -9999px;
}

h2 {
    font-size: 2em;
}

h3 {
    font-size: 1.5em;
}

article {
    width: 960px;
    margin: 0 auto;
}

button {
    background: #24323E;
    box-shadow: 4px 8px 16px rgba(0, 0, 0, 0.25);
    border-radius: 8px;
    color: white;
    font-weight: 700;
    padding: 16px 24px;
    font-size: 16px;
    margin: 24px 0 0 0;
    display: block;
}

.social li {
    border: 1px solid var(--gray-lighter);
    border-radius: 100%;
    width: 48px;
    height: 48px;
    display: inline-block;
    margin-right: 16px;
}

.hero_image {
    display: flex;
}

/* Different projects themes */ 
.ios {
    background-color: #CBEAFD;
}

.designsystem {
    background-color: #5063F0;
}

.centauro {
    background-color: #DFFFB5;
}