.subheading {
    line-height: 32px;
    color: var(--gray-medium);
}

a {
    font-weight: 700;
    line-height: 1.5rem;
    color: var(--color-primary);
    text-decoration: none;
    border-bottom: 1px solid var(--gray-lighter);
}

a:hover {
    color: var(--color-primary);
    border-bottom: 1px solid var(--gray-dark);
}



.display {
    font-size: var(--text-large);
    line-height: 120%;
}

.body {
    font-size: 1.25rem;
    margin-bottom: 0.5rem;
    font-weight: 500;
}

.caption {
    font-size: 14px;
    color: var(--gray-medium);
}