:root {
    --main-bg-color: #ffffff;
    --base-font-size: 16px;
    
    --base-spacing: 8px;

    --gray-medium: #535D67;
    --gray-lighter: #7C97AC;
    

    --color-primary: #0056B1;

    --text-large: 32px;
    --text-xlarge: 48px;
  }